{% extends "test_app/layout.html" %}
{% block title %}{% endblock %}

{% block body %}

<div >
    <div class="container" style="margin-top: 5%">
            <div class="box" style="display: inline-block; margin-left:10%;">
                <h2 >Data sets</h2>
            </div>
            {% csrf_token %}
            <div class="box" style="display: inline-block;">
                <a ><button onclick="getProgressCod()" class="buttonNewSchema">Generate data</button></a>
            </div>
    </div>
    <div style="margin-left: 10%">
        <table id="schema_show_table">
            <tr>
                <th>#</th>
                <th>Created</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for schema in user_schemas %}
                <tr>
                    <td>{{ linenumbers }}</td>
                    <td>{{ schema.created|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ schema.schema_name }}</td>
                    <td ><a ><button  style="background: #5CB85C; color: #FFFFFF;">Ready</button></a></td>
                    <td ><a href="{% url 'download_schema' schema.schema_name %}" style="color: blue;"><h7 class="edit"></h7>Download</a></td>
                </tr>
            {% endfor %}
            {% if data_to %}
             <tr>
                 <td></td>
                 <td>{{ today|date:"SHORT_DATE_FORMAT" }}</td>
                 <td>{{ schema_name }}</td>
                 <td ><a ><button id="new_schema_index" style="background: #999999; color: #FFFFFF">Processing</button></a></td>
                 <td ><a id="new_schema_download" href="{% url 'download_schema' schema_name %}"><h7 id="new_schema_download_item" class="edit"></h7></a></td>
             </tr>
            {% endif %}
        </table>
        <input type="hidden" value="{{ data_to }}" id="data_to">
        <input type="hidden" value="{{ schema_name }}" id="schema_name">
        <input type="hidden" value="{{ string_character }}" id="string_character">
        <input type="hidden" value="{{ column_separator }}" id="column_separator">
    </div>
</div>

{% endblock %}