<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <style>{% block style %}{% endblock %}</style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <header>
        <div class="navbar">
            <div class="navbFakeCSV">FakeCSV</div>
            <a  href="{% url 'index' %}"><h5 class="navLogout">Schema</h5></a>
            <div class="navHelloUser">Hello, {{ request.user.username }}</div>
            <a  href="{% url 'logout' %}"><h5 class="navLogout">Logout</h5></a>
        </div>
    </header>
    <body >
        {% block body %} {% endblock %}

    </body>
    <footer></footer>
</html>