{% extends "test_app/layout.html" %}
{% block title %}{% endblock %}

{% block body %}

<h2>HIDATASETS</h2>
<div >
    <div class="container" style="margin-top: 5%">
            <div class="box" style="display: inline-block; margin-left:10%;">
                <h2 >Data sets</h2>
            </div>
            <div class="box" style="display: inline-block;">
                <a  ><button class="buttonNewSchema">Generate data</button></a>
            </div>
    </div>
    <div style="margin-left: 10%">
        <table id="schema_show_table">
            <tr>
                <th>#</th>
                <th>Created</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for schema in user_schemas %}

                <tr>
                    <td>{{ linenumbers }}</td>
                    <td>{{ schema.date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td></td>
                    <td><a href="{% url 'data_sets' %}"><h7 class="edit">Edit schema</h7></a></td>


                </tr>

            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}